<!DOCTYPE html>
<html layout:decorate="~{/admin/modeloHome}" >
<head>
	<title>Perfumaria Administrativo</title>
	<meta charset="UTF-8" />

</head>
<body>
			
	<div layout:fragment="conteudo">	
	
		<aside>
			<nav class="sidebar sidebar-open">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/admin/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>				
				<ul class="nav nav-pills">
					
					<li class="nav-item"><a href="/produtos/listarProdutos"><span class="nav-link active">Produtos</span></a></li>
					
				</ul>
				<ul class="nav nav-pills">
				
					<li class="nav-item"><a href="/usuarios"><span class="nav-link active" sec:authorize="hasRole('ADMIN')">Usuários</span></a></li>
					
				</ul>
				<ul class="nav nav-pills">
				
					<li class="nav-item"><a href="/clientesAdm"><span class="nav-link active" sec:authorize="hasRole('ADMIN')">Clientes</span></a></li>
					
				</ul>
				
			</nav>
		</aside>
	</div>
	
</body>
</html>
