<!DOCTYPE html>
<html layout:decorate="~{modeloSite}">
<head>

<title>Perfumaria Administrativo</title>
<meta charset="UTF-8" />

</head>
<body>

	<div layout:fragment="conteudo">
		<br>
		<br>
		<section class="container">
		<h3>Akatsuki Dev's</h3>
		<br>
		<p class="text-left">Somos estudandes do Senac do cursando o 4º Semestre do curso de Análise e Desenvolvimento de Sistemas.
		Este é nosso Projeto Integrador IV, um e-commerce de perfumes.</p>
		<br>
		<br>
		<div class="row mt-2">
		<div class="card" style="width: 18rem;">
  			<img class="card-img-top" height="250px" weight="100px" src="/Integrantes/deise.jpg" alt="deise">
  			<div class="card-body">
    			<h5 class="card-title">Deise Moraes</h5>
    			<p class="card-text">Estudante.</p>
    			<a href="https://github.com/deisemoraesf" class="badge badge-dark">Git Hub</a>
  			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="card" style="width: 18rem;">
  			<img class="card-img-top" height="250px" weight="100px" src="/Integrantes/fernanda.jpg" alt="deise">
  			<div class="card-body">
    			<h5 class="card-title">Fernanda Raeli</h5>
    			<p class="card-text">Estudante.</p>
    			<a href="https://github.com/fernandaraeli" class="badge badge-dark">Git Hub</a>
  			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="card" style="width: 18rem;">
  			<img class="card-img-top" height="250px" weight="100px" src="/Integrantes/igor.jpg" alt="deise">
  			<div class="card-body">
    			<h5 class="card-title">Igor Kuroda</h5>
    			<p class="card-text">Estudante.</p>
    			<a href="https://github.com/igorKuroda" class="badge badge-dark">Git Hub</a>
  			</div>
		</div>
		</div>
		</section>
		<br>
		<br>
	</div>
	
	  
</body>
</html>
