<!DOCTYPE html>
<html layout:decorate="~{modeloHome}">
<head>

<title>Perfumaria Administrativo</title>
<meta charset="UTF-8" />

</head>
<body>
	<div layout:fragment="conteudo">
	<br>
	<section class="layout-content">	
		<div class="page-header">
			<nav class="navbar navbar-expand-md navbar-top bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Visualização da Compra</span></li>
					</ul>
					<div class="navbar-nav ml-auto" th:object="${pessoas}">
						<a class="btn btn-info btn-md" th:href="@{/compras/editarStatus/{id}(id=${compras.id})}"
							role="button"> <span class="oi oi-brush" title="adicionar"
							aria-hidden="true"></span> <span>Editar Status</span>
						</a>
							
					</div>	
						
				</div>
			</nav>
		</div>
		<div class="container">

			<h5 class="card-title">
				<b>Detalhes do Pedido</b>
			</h5>
			<br>

			<div class="table-responsive">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Produtos</th>
							<th>Quantidade</th>
							<th>Valor</th>

						</tr>
					</thead>
					<tr th:each="i : ${itens}">
						<td><span th:text="${i.produto.nomeProduto}"></span></td>
						<td><span th:text="${i.quantidade}"></span></td>
						<td><span
							th:text="${#numbers.formatDecimal(i.produto.preco, 0, 'POINT', 2 , 'COMMA')}"></span></td>
					</tr>

				</table>
				<hr>
			</div>

			<div th:object="${compras}">
				<label for=""><strong>Pedido:</strong></label>
				<p type="text" id="id" th:text="${compras.id}" />
				<label for=""><strong>Data</strong></label>
				<p type="date" id="dataCompra"
					th:text="${#dates.format(compras.dataCompra, 'dd/MM/yyyy HH:mm')}" />
				<label for=""><strong> Total: </strong></label>
				<p>
					R$ <span type="text" id="valorTotal"
						th:text="${#numbers.formatDecimal(compras.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span>
				</p>
				<label for=""><strong>Forma de pagemento:</strong></label>
				<p type="text" name="formaPagamento" id="formaPagamento"
					th:text="${compras.formaPagamento}" />
				<label for=""><strong>Status:</strong></label>
				<p type="text" name="formaPagamento" id="formaPagamento"
					th:switch="${compras.statusCompra}">
					<strong><span th:case="'cancelado'" style="color: red;"
						th:text="${compras.statusCompra}"></span></strong> <strong><span
						th:case="'entregue'" style="color: green;"
						th:text="${compras.statusCompra}"></span></strong> <strong><span
						th:case="*" style="color: blue;" th:text="${compras.statusCompra}"></span></strong>
				</p>
			</div>
			<br> <a href="/compras" class="btn btn-primary btn-md">Voltar</a>

		</div>
	</section>
	</div>


</body>
</html>
