<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Perfumaria</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 30px;
}
</style>

</head>
<body style="background: #FFF5EE">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a href="/index"><img name="logo" height="80px"
				src="imgCarousel/logoakatsukidevs.jpg" alt="akatsukidevs"
				class="rounded-sm"></a> <a class="navbar-brand h1 mb-0" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSite">
				<spam class="navbar-toggler-icon"></spam>
			</button>

			<div class="collapse navbar navbar-collapse" id="navbarSite">
				<ul class="navbar-nav mr-auto">
					<!--mr-auto deixa a margem a direita (ml-auto na esquerda)-->
					<li class="nav-iem"><a class="nav-link" href="#">Masculino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="#">Feminino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="#">Infantil</a>
					</li>
				</ul>

				<form class="form-inline" action="">
					<input class="form-control ml-2 mr-2 " type="search" name=""
						placeholder="Buscar...">
					<button class="btn btn-light" type="submit">OK</button>
				</form>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown"><a class="btn btn-outline-light"
						href="/login">Fazer Login</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
	<!--CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__-->

	<div class="row justify-content-center">
		<nav aria-label="Navegação de página exemplo">
			<ul class="pagination pagination-md">
				<li class="page-item active"><a class="page-link"
					href="/clientes/cadastrarCliente">Pessoa Física</a></li>
				<li class="page-item"><a class="page-link"
					href="/clientes/cadastrarCliente/PJ">Pessoa Jurídica</a></li>
			</ul>
		</nav>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<form method="POST">
					<div class="card shadow-lg border-0 rounded-lg mt-10">

						<div class="card-header">
							<h3 class="text-center font-weight-light my-10">Usuário</h3>
						</div>
						<div class="card-body">

							<div class="form-group">
								<label class="small mb-1" for="inputEmailAdress">E-mail:</label>
								<input type="email" class="form-control py-4" id="email"
									placeholder="Digite seu e-mail" value="">
							</div>
							<div class="form-group">
								<label class="small mb-1" for="password">Password:</label> <input
									type="password" class="form-control py-4" id="password"
									placeholder="Digite sua senha" value="">
							</div>
							<div class="form-group">
								<input type="hidden" id="tipo" name="tipo"
									value="ROLE_COMPRADOR"></input>
							</div>

						</div>
					</div>

					<div class="card shadow-lg border-0 rounded-lg mt-4">

						<div class="card-header">
							<h3 class="text-center font-weight-light my-10">Pessoa
								Física</h3>
						</div>
						<div class="card-body">

							<div class="form-group">
								<label class="small mb-1" for="inputEmailAdress">Nome:</label> <input
									type="text" class="form-control py-4" id="nome" name="nome"
									placeholder="Digite seu nome" value="">
							</div>
							<div class="form-group">
								<label class="small mb-1" for="password">Nome Social:</label> <input
									type="text" class="form-control py-4" id="nomeSocial"
									name="nomeSocial" value=""
									placeholder="Digite como gostaria de ser chamado">
							</div>
							<div class="form-group">
								<label class="small mb-1" for="cpf">CPF</label> <input
									type="text" class="form-control py-4" id="cpf" name="cpf"
									placeholder="Digite o CPF" value="">
							</div>
							<div class="form-group">
								<label class="small mb-1" for="dtnasc">Data Nascimento:</label>
								<input type="date" class="form-control py-4" id="dtnasc"
									name="dtnasc" placeholder="Data Nascimento" value="">
							</div>
							<div class="form-group">
								<label for="nome" class="small mb-1">Genêro:</label> <select
									class="form-control py-4" id="genero" name="genero">
									<option value="genero" ></option>
									<option value="feminino">Feminino</option>
									<option value="masculino">Masculino</option>
									<option value="transgenero">Transgenêro</option>
								</select>
							</div>
							<div class="form-group">
								<label class="small mb-1" for="celular">Celular:</label> <input
									type="text" class="form-control py-4" id="celular" value=""
									name="celular" placeholder="Digite número do celular">
							</div>
							<div class="form-group">
								<label class="small mb-1" for="telefone">Telefone Fixo:</label>
								<input type="text" class="form-control py-4" id="telefone" value=""
									name="telefoner" placeholder="Digite número do telefone fixo">
							</div>


						</div>
					</div>
					<div class="card shadow-lg border-0 rounded-lg mt-4" >

						<div class="card-header">
							<h3 class="text-center font-weight-light my-10">Endereço</h3>
						</div>
						<div class="card-body">
						<div class="form-group  mr-sm-2" th:action="@{https://viacep.com.br/ws/{cep}/json/}">
								
								<label class="small mb-1" for="local">Local:</label> <input
									type="text" class="form-control py-4" id="local" name="local"
									placeholder="Exemplo: Casa, Comercial" value="">
							
							
											
								<label class="small mb-1" for="cep">CEP:</label> 
								<input type="text" class="form-control py-4" id="cep" name="cep"
									placeholder="Digite seu CEP" >
									    <button class="btn btn-primary" type="submit">
												<i class="oi oi-magnifying-glass"></i>Ok
										</button>
										
												
								<br>
								<label class="small mb-1" for="endereco">Endereço:</label> <input
									type="text" class="form-control py-4" id="rua" name="rua"
									placeholder="Digite lograduro" value="">
							
								<label class="small mb-1" for="numero">Número:</label> <input
									type="text" class="form-control py-4" id="numero" name="numero"
									placeholder="Digite número" value="">
							
								<label class="small mb-1" for="complemento">Complemento:</label>
								<input type="text" class="form-control py-4" id="complemento"
									name="complemento" placeholder="Digite Complemento" value="">
							
								<label class="small mb-1" for="bairro">Bairro:</label> <input
									type="text" class="form-control py-4" id="bairro" name="bairro"
									placeholder="Digite Bairro" value="" >
							
								<label class="small mb-1" for="cidade">Cidade:</label> <input
									type="text" class="form-control py-4" id="estado"
									name="cidade" placeholder="Digite Cidade" value="" >
							
								<label class="small mb-1" for="estado">Estado:</label> <input
									type="text" class="form-control py-4" id="estado"
									name="estado" placeholder="Digite Estado" value="">
							</div>
						
						</div>
						
					</div>

					<div class="row justify-content-center">
						<button type="submit" class="btn btn-primary btn-md">Salvar</button>
						&nbsp;&nbsp;&nbsp; <a href="/index" class="btn btn-primary btn-md">Voltar</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!--CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__-->

	<div class="footer">
		<footer class="py-2 bg-dark mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Projeto integrador 4</div>
					<div class="text-muted">Akatsuki Devs</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>