<!DOCTYPE html>
<html layout:decorate="~{modeloSite}">
<head>

<title>Perfumaria Administrativo</title>
<meta charset="UTF-8" />

</head>
<body>
<div layout:fragment="conteudo">
	<br><br>
    <div class="container">
        <div class="card text">
        	<div class="card-header">
        	<h3 class="card-title"><b>Detalhes do Pedido</b></h3>
        	</div>
           <div class="card-body">
              
              <br>
              
               <div class="table-responsive">
	                <table class="table">
	                	<thead class="thead-light">
               			<tr>
	                        <th>Produtos</th>
	                        <th>Quantidade</th>
	                        <th>Valor</th>
	                    
	           			</tr>
              			</thead>
              			<tr th:each="i : ${itens}">
              				<td><span th:text="${i.produto.nomeProduto}"></span></td>
              				<td><span th:text="${i.quantidade}"></span></td>
		       				<td><span th:text="${#numbers.formatDecimal(i.produto.preco, 0, 'POINT', 2 , 'COMMA')}"></span></td>        
		      			</tr>
		      			
            		</table> 
            		<hr> 
              </div>
              
              <div th:object="${compras}">
              <label for=""><strong>Pedido:</strong></label>
              <p type="text" id="id" th:text="${compras.id}"/>
              <label for=""><strong>Data</strong></label>
              <p type="date" id="dataCompra" th:text="${compras.dataCompra}"/>
              <label for=""><strong> Total: </strong></label>
              <p>R$ <span type="text" id="valorTotal" th:text="${#numbers.formatDecimal(compras.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span></p>
              <label for=""><strong>Forma de pagemento:</strong></label>
              <p type="text" name="formaPagamento" id="formaPagamento" th:text="${compras.formaPagamento}"/>
              <label for=""><strong>Status:</strong></label>
              <p type="text" name="formaPagamento" id="formaPagamento" th:text="${compras.statusCompra}"/>
              </div>
              <br>
              
              
              <a href="/historicoPedidos" class="btn btn-primary btn-md">Voltar</a>
              
            </div>
        </div>    
	</div>
	<br>
	<br>
</div>	  
</body>
</html>
