<!doctype html>
<html lang="pt-br"  xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>Perfumaria - Verificar Email</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .footer{
            position:fixed;
            bottom:0;
            width:100%;   
            height: 30px;      
        }

    </style>

  </head>
  <body style="background: #FFF5EE ;">    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            
          <a class="nav-link" href="/"><img height="80px"src="/imgCarousel/logoakatsukidevs.jpg" alt="akatsukidevs" class="rounded-sm"></a>
            
    
            <div class="collapse navbar navbar-collapse" id="navbarSite">
                <ul class="navbar-nav mr-auto"><!--mr-auto deixa a margem a direita (ml-auto na esquerda)-->
                    <li class="nav-iem">
                        <a class="nav-link" href="/">Início</a>
                    </li>
					<li class="nav-iem"><a class="nav-link" href="/cliente/masculino">Masculino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="/cliente/feminino">Feminino</a>
					</li>
					<li class="nav-iem"><a class="nav-link" href="/cliente/infantil">Infantil</a>
					</li>
				</ul>
                
                <form class="form-inline" action="">
                    <input class="form-control ml-2 mr-2 " type="search" name="" placeholder="Buscar...">
                    <button class="btn btn-outline-light" type="submit">OK</button>
                </form>

                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item dropdown">
                    	<a class="btn btn-outline-light" href="/login" >Fazer Login</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
    <!--CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__-->
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Cadastro</h3>
                    </div>
                    <div class="card-body">
                        
                        <form method="POST">
                        
                        	<div class="col-12 alert alert-success" th:if="${mensagem != null}" th:text="${mensagem}" role="alert"></div>
                        
                            <div class="form-group" >
                                <label class="small mb-1" for="inputEmailAdress">E-mail</label>
                                <input type="text" name="email"  class="form-control py-4" id="email" value="" 
                                	   placeholder="Digite seu e-mail" />
                            </div>
                            
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <!--CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__CARD_CADASTRO__-->

    <div class="footer">
        <footer class="py-2 bg-dark mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Projeto integrador 4</div>
                    <div class="text-muted">Akatsuki Devs</div>
                </div>
            </div>
        </footer>
    </div>
      
  </body>
</html>