<!DOCTYPE html>
<html layout:decorate="~{modeloHome}">
<head>
    <title>Perfumaria</title>
    <meta charset="UTF-8"/>
    
</head>
<body>
	
	<div layout:fragment="conteudo">
	
	    <section class="layout-content">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Cadastro de Produtos</span>
	                        </li>
	                    </ul>
	                </div>
	                
	            </nav>
	        </div>
	
	        <div class="container" id="cadastro">
	        
	        <div class="col-12 alert alert-success" th:if="${mensagem != null}" th:text="${mensagem}" role="alert"></div>
	        	        
	        <form method="POST" enctype="multipart/form-data">
	                <div class="form-row">
	                		                	                
	                    <div class="form-group col-md-6">	
	                     
	                                        
	                        <label for="nome">Nome do Produto</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome do Produto" autofocus="autofocus" name="nomeProduto" value=""/>
	                        <div class="invalid-feedback"></div>
	                        
	                        <label for="preco">Preço do Produto</label>
						    <input type="text" class="form-control" id="preco" placeholder="R$" autofocus="autofocus" name="preco"  size="20" value=""/>
							<div class="invalid-feedback"></div>  
							
							<label for="nome">Quantidade</label>
						    <input type="number" class="form-control" id="quantidade" placeholder="Qtda." autofocus="autofocus" name="quantidade" value=""/>
							<div class="invalid-feedback"></div>  
	                     
							<label for="nome">Descrição do Produto</label>	                         
	                        <textarea  class="form-control" id="desc_produto" placeholder="Descrição do Produto" autofocus="autofocus" name="desc_produto" value="" rows="4" cols="50">								
							</textarea>
							
		                		                        
	                        <label for="nome">Categoria</label> <select
								class="form-control" id="categoria" name="categoria">
								<option value="teste"></option>
								<option value="Feminino">Feminino</option>
								<option value="Masculino">Masculino</option>
								<option value="Infantil">Infantil</option>
							</select><br>							
							
							<label for="nome">Perguntas e Respostas</label>	                         
	                         <textarea  class="form-control" id="perg_resp" placeholder="Perguntas e Respostas" 
	                         autofocus="autofocus" name="perg_resp" value="" rows="4" cols="50" >								
							</textarea>   
																					
							<br>
							<label for="myfile">Selecione uma imagem:</label></br>
							<input type="file" id="files" name="files">
	                        <br>
	                        <br>
	                        
	                         <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	                         <a href="/produtos/listarProdutos" class="btn btn-primary btn-sm">Voltar</a>
	                    </div>	 
	                             
	                </div>
	             </form>
	        </div>      
	   
	    </section>
	
	</div>
	
 </body>
</html>		