<!doctype html>
<html lang="en">
  <head>
    <title>Produto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .footer{
            position:responsive;
            bottom:0;
            width:100%;   
            height: 30px;      
        }

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
        
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }

    </style>

  </head>
  <body style="background: #FFF5EE ;">    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!--<img class="logo" src="logoPerfumariaPi4.png" alt="" hreF="">-->
            <a class="navbar-brand h1 mb-0" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <spam class="navbar-toggler-icon"></spam>
            </button>
    
            <div class="collapse navbar navbar-collapse" id="navbarSite">
                <ul class="navbar-nav mr-auto"><!--mr-auto deixa a margem a direita (ml-auto na esquerda)-->
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Masculino</a>
                    </li>
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Feminino</a>
                    </li>
                    <li class="nav-iem">
                        <a class="nav-link" href="#">Infantil</a>
                    </li>
                </ul>
                
                <form class="form-inline" action="">
                    <input class="form-control ml-2 mr-2 " type="search" name="" placeholder="Buscar...">
                    <button class="btn btn-default" type="submit">OK</button>
                </form>

                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">Log</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Entrar</a>
                            <a href="#" class="dropdown-item">Cadastrar</a>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav><br><br><br>
    <!--NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_NAVBAR_-->

    <div class="container">
      
        <div class="card">
            <div class="card-header">
                <h6>Gênero do Produto</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <!--<div class="row mb-2">-->
                        <div class="container"></div>
                        <div  id="carouselSite" class="carousel slide" data-ride="carousel">
                            <center>
                           <!--  
                            <ol class="carousel-indicators">
                                <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselSite" data-slide-to="1"></li>
                                <li data-target="#carouselSite" data-slide-to="2"></li>
                            </ol>
                            -->
                              
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="imgCarousel/imgProd.jpg" class="img-fluid d-block" width="300px" height="300px">
                                    <div class="carousel-caption d-none d-md-block">
                                     
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="imgCarousel/imgProd3.jpg" class="img-fluid d-block" width="300px" height="300px">
                                    <div class="carousel-caption d-none d-md-block">
                                       
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="imgCarousel/imgProd2.jpg" class="img-fluid d-block" width="300px" height="300px">
                                    <div class="carousel-caption d-none d-md-block">
                                        
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                    
                            <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev"><!--Carousel ir pra trás-->
                                <span class="carousel-control-prev-icon"></span>
                                <span style="color: black;" class="sr-only">Voltar</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next"><!--Carousel ir pra frente-->
                                <span class="carousel-control-next-icon"></span>
                                <span style="color: black;" class="sr-only"> Próximo</span>
                            </a>
                            </center>
                        </div>    
                        
                    </div>
                    
                </div>
                <div class="container">
                <div class="form-inline">
                    <h4>Descrição Produto X</h4>
                    <h2 class="ml-auto" style="text-align: left;">Valor(R$xxx.xx)</h2>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                </div>
                <buttont type="button"  class="btn btn-info btn-lg ml-auto" href="#">Comprar</button>
                </div><br><br>

            </div>
            
            <div class="card-footer">
                <h6>Perguntas Frequentes</h6><br>
                <p><b>O produto é de qualidade?</b><br> Sim, temos os melhores produtos do mercado!</p>

                <p><b>Essa quantidade dura por quanto tempo?</b><br> Depende da frequência de uso, mas pode durar meses :)</p>

    
            </div>
        </div>
    </div>
    

    <div class="footer">
        <footer class="py-2 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Projeto integrador 4</div>
                    <div class="text-muted">Akatsuki Devs</div>
                </div>
            </div>
        </footer>
    </div>
      
    </body>
</html>