<!DOCTYPE html>
<html layout:decorate="~{/admin/modeloHome}">
<head>
    <title>Perfumaria</title>
    <meta charset="UTF-8"/>
   
    <script th:inline="javascript">
    $(function() {
        $('#excluir').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var idUsuario = button.data('id')
            var actionUrl = button.data('actionurl');
            var modal = $(this);
            modal.find('.modal-title').text('Apagar Produto');
            modal.find('.modal-body p').text('Deseja apagar o Produto '+ idUsuario+'?');
            modal.find('.modal-footer form').attr('action', actionUrl);
        });
    });
	</script>
    
</head>
<body>

	<div class="layout-main" layout:fragment="conteudo">
	
	    	
	    <section class="layout-content">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Produtos</span>
	                    </li>
	                </ul>
	                <a href="/admin/" class="btn btn-primary">Voltar</a>&nbsp;&nbsp;
	                <a class="btn btn-primary btn-md" href="/produtos/cadastrarProduto" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Produtos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	           <form class="form-inline" method="POST" th:action="@{pesquisaProduto}">
					<input class="form-control mr-sm-2" type="text" aria-label="Search"
						name="pesquisanome" placeholder="Pesquisa por nome"> <span></span>
					

					<button class="btn btn-primary" type="submit">
						<i class="oi oi-magnifying-glass"></i>Pesquisar
					</button>
				</form>
				<br>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped ">
	                   
	                    <tr>
	                        <th>Id</th>
	                        <th>Nome do Produto</th>
	                        <th>Quantidade</th>
	                        <th>Preço</th>
	                        <th>Categoria</th>	
	                        <th>Visualizar</th> 
	                        <th><br></th>                       	 
	                        <th>Editar</th>
	                        <th><br></th>   
							<th>Excluir</th>
	                    </tr>
	                  
	                  
		                    <tr th:each="produto : ${produtos}">
		                        <td><span th:text="${produto.id_produto}"></span></td>
		                        <td><span th:text="${produto.nomeProduto}"></span></td>
		                        <td><span th:text="${produto.quantidade}"></span></td>
		                        <td><span th:text="${produto.preco}"></span></td>
		                        <td><span th:text="${produto.categoria}"></span></td>
		                        
		                        <td colspan="2">
									<a  class="btn btn-success btn-sm" role="button"
									th:href="@{/produtos/visualizarProdutos/{id_produto}(id_produto=${produto.id_produto})}">
									<span class="oi oi-magnifying-glass" title="Visualizar" aria-hidden="true"></span>
									</a>
								</td>
								
		                        <td colspan="2">
		                        	<a class="btn btn-info btn-sm" role="button"
		                        		th:href="@{/produtos/editarProdutos/{id_produto}(id_produto=${produto.id_produto})}">
		                            <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                            </a>
		                        </td>
		                        <td colspan="2">
		                         	<a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluir" 
		                        		th:attr="data-id=${produto.nomeProduto}, data-actionurl=@{/produtos/deletarProdutos/{id_produto}(id_produto=${produto.id_produto})}">
		                            <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
		                            </a>
		                        </td>
		                    </tr>
                  
	                </table>
	            </div>
	        </div>
	    </section>

		<div layout:fragment="modal-area">
	    <div class="modal fade" tabindex="-1" role="dialog" id="excluir">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title">Apagar produto</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
	                    <p></p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
	                    <form method="GET">
	                       <button type="submit" class="btn btn-danger">Apagar</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	        
	    </div>
	   </div> 

	</div>
	
	
	
</body>
</html>		