<!DOCTYPE html>
<html layout:decorate="~{/admin/modeloHome}">
<head>
<title>Perfumaria</title>
<meta charset="UTF-8" />

</head>
<body>
	
	<div layout:fragment="conteudo">



		<section class="layout-content">
			<div class="page-header">
				<nav class="navbar navbar-expand-md navbar-top bg-light">
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav">
							<li class="nav-item active"><i class="oi oi-caret-right"></i>
								<span>Visualização Cliente</span></li>
						</ul>
						<div class="navbar-nav ml-auto">
							<a class="btn btn-info btn-md" th:href="@{/clientesAdm/editarClientes/{id_pessoa}(id_pessoa=${pessoas.id_pessoa})}"
								role="button"> <span class="oi oi-brush" title="adicionar"
								aria-hidden="true"></span> <span>Editar</span>
							</a>
							
						</div>	
						
					</div>
				</nav>
			</div>

			<div class="container" id="visualizar">
			
			<div th:object="${usuario}">
				<h3>Usuário</h3>
					<div class="form-row">
								<div class="form-group col-md-6">
									<label for="id">Id Usuario:</label> <input type="text"
											class="form-control" id="id_usuario" autofocus="autofocus"
											name="id_usuario" value="" th:field="*{id_usuario}"
											readonly="readonly" />
									<label for="id">Email:</label> <input type="text"
											class="form-control" id="email" autofocus="autofocus"
											name="email" value="" th:field="*{email}"
											readonly="readonly" />	
								</div>
					</div>			
			</div>
			<div th:object="${pessoas}">
					<h3>Cliente</h3>

						<div class="form-row">
						<div class="form-group col-md-6">
							<label for="id">Id Cliente:</label> <input type="text"
								class="form-control" id="id_pessoa" autofocus="autofocus"
								name="id_pessoa" value="" th:field="*{id_pessoa}"
								readonly="readonly" />
						
						<input type="hidden" id="tipoPessoa" name="tipo"
									th:field="*{tipoPessoa}"></input>		
							
							
							<div th:if="${pessoas.tipoPessoa} == pf">

								<label>Nome:</label> <input type="text" class="form-control"
									id="nome" readonly="readonly" autofocus="autofocus" name="nome"
									value="" th:field="*{nome}" /> 
									
								<label>Nome Social:</label> <input
									type="text" class="form-control" id="nome2" readonly="readonly"
									autofocus="autofocus" name="nome2" value="" th:field="*{nome2}" />

								<label>CPF:</label> <input type="text" class="form-control"
									id="cpf" readonly="readonly" autofocus="autofocus" name="cpf"
									value="" th:field="*{cpf}" /> 
								
								<label>Data de Nascimento:</label> <input type="text" class="form-control"
									id="dtnascimento" readonly="readonly" autofocus="autofocus"
									name="dtnascimento" value="" th:field="*{dtnascimento}" /> 
								
								<label>Gênero:</label> <input type="text" class="form-control" id="genero"
									readonly="readonly" autofocus="autofocus" name="genero"
									value="" th:field="*{genero}" />

							</div>

							<div th:unless="${pessoas.tipoPessoa} == pf">

								<label>Razão Social:</label> <input type="text"
									class="form-control" id="nome" readonly="readonly"
									autofocus="autofocus" name="nome" value="" th:field="*{nome}" />


								<label>Nome Fantasia:</label> <input type="text"
									class="form-control" id="nome2" readonly="readonly"
									autofocus="autofocus" name="nome2" value="" th:field="*{nome2}" />


								<label>CNPJ:</label> <input type="text" class="form-control"
									id="cnpj" readonly="readonly" autofocus="autofocus" name="cnpj"
									value="" th:field="*{cnpj}" /> 
								
								
								<label>InscriçãoEstadual:</label> <input type="text" class="form-control"
									id="inscricaoEstadual" readonly="readonly"
									autofocus="autofocus" name="inscricaoEstadual" value=""
									th:field="*{inscricaoEstadual}" /> 
									
								<label>Inscrição Municipal:</label> <input type="text" class="form-control"
									id="inscricaoMunicipal" readonly="readonly"
									autofocus="autofocus" name="inscricaoMunicipal" value=""
									th:field="*{inscricaoMunicipal}" />


							</div>
							

							<label>Celular:</label> <input type="text" class="form-control"
								id="celular" autofocus="autofocus" name="celular" value=""
								th:field="*{celular}" readonly="readonly" /> 
								
							<label>Telefone Fixo:</label> <input type="text" class="form-control" id="telefonefixo"
								autofocus="autofocus" name="telefonefixo" value=""
								th:field="*{telefonefixo}" readonly="readonly" />

						</div>
						
						
						
						<div class="table-responsive">
							<h3>Endereços</h3>
								<table class="table table-striped " th:atrr="enderecos">

									<tr>
										<th>ID</th>
										<th>CEP</th>
										<th>Rua</th>
										<th>Número</th>
										<th>Complemento</th>
										<th>Bairro</th>
										<th>Cidade</th>
										<th>Estado</th>
										<th>Tipo</th>


									</tr>

									<tr th:each="endereco : ${enderecos}">
										<td th:text="${endereco.id}"></td>
										<td th:text="${endereco.cep}"></td>
										<td th:text="${endereco.rua}"></td>
										<td th:text="${endereco.numero}"></td>
										<td th:text="${endereco.complemento}"></td>
										<td th:text="${endereco.bairro}"></td>
										<td th:text="${endereco.cidade}"></td>
										<td th:text="${endereco.estado}"></td>
										<td th:text="${endereco.tipoend}"></td>

									</tr>
								</table>
							</div>

							<br> <a href="/clientesAdm" class="btn btn-primary btn-md">Voltar</a>
						</div>

				</div>
			</div>
		</section>
	
	</div>

</body>
</html>
