<!DOCTYPE html>

<html layout:decorate="~{modeloSite}" class="h-100">
<head>

<title>Perfumaria - Carrinho de Compras</title>
<meta charset="utf-8">

<body>
 <div layout:fragment="conteudo">
 	<br>
 	<br>
 	<div class="container">
	<!-- Lista de itens do carrinho -->
	<div class="row">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Produto</th>
							<th scope="col">Estoque</th>
							<th scope="col" class="text-left">Quantidade</th>
							<th scope="col" class="text-right">Preço</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${listaItens}">
							<td><img height="100px" weight="100px" th:src="@{__${item.produto.fotoIndex}__}" />
							</td>
							<td th:text="${item.produto.nomeProduto}">Produto Nome</td>
							<td>Em estoque</td>
							
							<td>							
							<a class="btn btn-sm btn-primary"
								th:href="@{/carrinho/alterarQtde/{id_produto}/{acao}(id_produto=${item.produto.id_produto},acao=${1})}"
								role="button"><i class="fa fa-plus"></i></a>&nbsp;&nbsp;
							
							<span th:text="${item.quantidade}"></span>&nbsp;&nbsp; 
								
								
							<a class="btn btn-sm btn-primary"
								th:href="@{/carrinho/alterarQtde/{id_produto}/{acao}(id_produto=${item.produto.id_produto},acao=${0})}"
								role="button"><i class="fa fa-minus"></i></a>						
							</td>

							<td class="text-right" th:text="${item.valorTotal}">
							</td>

							<td class="text-right"><a class="btn btn-sm btn-danger"
								th:href="@{/carrinho/removerItem/{id_produto}(id_produto=${item.produto.id_produto})}"
								role="button"><i class="fa fa-trash"></i></a></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Sub-Total</td>
							<td class="text-right">R$ <span th:text="${compra.valorTotal}"></span></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Frete</td>
							<td class="text-right">R$ 0,00</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>Total</strong></td>
							<td class="text-right"><strong>R$ <span th:text="${compra.valorTotal}"></strong></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col mb-2">
				<div class="row">
					<div class="col-sm-12  col-md-6">
						<a class="btn btn-block btn-secondary" href="/" role="button">Continuar Comprando</a>	
					</div>
					<div class="col-sm-12 col-md-6 text-right">
						<a class="btn btn-lg btn-block btn-success text-uppercase" th:href="finalizar" role="button">Finalizar Compra</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</body>
</html>